<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>zadanie</title>
    <meta charset="utf-8"/><meta name="viewport" content="width=device-width,initial-scale=1"/>
    
  </head>
  <body class="loading">
    <header>
        <nav role="navigation">
            
        </nav>
    </header>
    <div class="content container"> 
        <section class="category-container ">
            <h2 style="display:none;"><a name="zaplanuj-wycieczke"></a>Zaplanuj wycieczkę</h2>
            <div id="category-menu"></div>
            <div id="mapa"><div id="mydiv"></div></div>
        </section>
        <section>
            <h2 style="display:none;"><a name="atrakcje-regionu"></a>Atrakcje regionu</h2>
            <div class="swiper">

            <div class="swiper-wrapper">
    
            </div>
            <!-- If we need pagination -->
            <div class="swiper-pagination"></div>
            
            <!-- If we need navigation buttons -->
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
            </div>
        </section>

    </div>
    <div class="loader"></div>
  </body>
</html>
