<section class="category-container ">
    <h2>Zaplanuj wycieczkę</h2>
<div id="category-menu"></div>
<div id="mapa">
    <div id="mydiv"></div>
</div>
</section>
<section>
<h2>Atrakcje regionu</h2>
<div class="swiper">
  <!-- Additional required wrapper -->
  <div class="swiper-wrapper">

  </div>
  <!-- If we need pagination -->
  <div class="swiper-pagination"></div>

  <!-- If we need navigation buttons -->
  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>

  <!-- If we need scrollbar -->
  <div class="swiper-scrollbar"></div>
</div>
</section>