$panel-width: 800px;
$panel-height: 600px;
$primary-color: #ddd;
$secondary-color: #bbc;
$font-color: #000;
$toggle-color: #000;
$background-color: #fff;
$box-shadow:2px 2px 3px rgba(0,0,0,.2);


  $small  : 400px;
  $medium : $panel-width;
  $large  : 1024px;
