.toggle {
    order: 1;
    display:none;

    & span {
        display: block;
        height: 4px;
        width: 32px;
        background-color: $toggle-color;
        position: relative;
        margin-bottom: 3px;
        position: relative;
        cursor:pointer;
        border-radius: 3px;
        z-index: 1;
        
        transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
        background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
        opacity 0.55s ease;

    }

    &.active span {
        &:nth-child(1) {
            transform:  rotate(45deg) translate(4px, 4px) ;
        }

        &:nth-child(2) {
            transform:  rotate(-45deg) translate(1px, -1px) ;
        }
        &:nth-child(3) {
            opacity: 0;
            transform: rotate(0deg) scale(.2,.2);
        }
    }

}

header{ box-shadow: $box-shadow}

ul {
    @include display-flex();
    @include flex-wrap-wrap();
    @include justify-content-center();
    @include align-items-center();
    margin:0;
    padding:.5rem;
   


    .item {
        list-style-type:none;
        padding:0;
        a {
            padding:.4em .8em;
            font-size:20px;
            color:$font-color;
            display:block;
            cursor:pointer;
            text-decoration: none;

            &:hover {
                background: rgba(125,125,125,.5);
            }
        }
    }
}


@media(max-width:$medium) {
    nav {
        padding:0;
        .menu-container {
            @include display-flex();
            @include flex-wrap-wrap();
            @include justify-content-flex-end();
            @include align-items-center();
            margin:0;
            padding:0;
            position: fixed;
            width: 100%;
            top: 0;
            z-index: 100;
            background-color: $background-color;
            &.active {
                box-shadow: $box-shadow;
            }

            li a {
                display: block;
                padding: 15px 5px;
                color:$font-color;
            }
        }
    }

    .toggle {
        @include order(2);
        font-size: 20px;
        padding:20px;
        display:block;
        flex: 1;
        text-align: right;
    }

    .item {
        @include order(3);
        width: 100%;
        text-align: center;
        opacity:0;
        display:block;
        height:1px;
        overflow:hidden;
        transition:.4s ease all;
        background-color:$background-color;
        color:$font-color;
        a {
            color:$font-color;
        }
    }
    .active .item {
        opacity:1;
        display:block;
        height:auto;
    }
}