$swiper-border: #ddd;
$swiper-background: #fff;

.swiper {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: $swiper-background;
    height: calc((100% - 30px) / 2) !important;

    @include display-flex();
    @include justify-content-center();
    @include align-items-center();

   article {
    margin: 0;
    border: 1px solid $swiper-border;
    width: 100%;
    padding: 0px;
    & > div {
        width: 100%;
        height: 0;
        padding-bottom: 100%;
        position: relative;
        overflow: hidden;
        img {
        width: 100%;
        min-height: 100%;
        //transform: translate(0, -25%);
        }
    }
    p {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        margin:.5em;
        text-align:left;
        min-height:4.8em;
    }
    
  }
}

.swiper-button-next, .swiper-button-prev {
    background-color: $swiper-background;
    padding: 1em;
    border-radius: 100%;
    box-shadow: $box-shadow;
    height: 60px;
    width: 60px;
    opacity:.7;
    transition:opacity .3s ease-in;
    &:hover {
        opacity:1;
    }
    &.swiper-button-disabled {
        opacity:0;
    }
}
.swiper-button-next {
    @include arrow(right);
  }
  .swiper-button-prev {
    @include arrow(left);
  }

@media(max-width:$medium) {
    .swiper-button-next, .swiper-button-prev {
        height: 45px;
        width: 45px;
    }
}