$swiper-border: #ddd;
$swiper-background: #fff;

.swiper {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: $swiper-background;
    height: calc((100% - 30px) / 2) !important;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;

   article {
    margin: 0;
    border: 1px solid $swiper-border;
    width: 100%;
    padding: 0px;
    & > div {
        width: 100%;
        height: 0;
        padding-bottom: 100%;
        position: relative;
        overflow: hidden;
        img {
        width: 100%;
        min-height: 100%;
        transform: translate(0, -25%);
        }
    }
  }
}

.swiper-button-next, .swiper-button-prev {
    background-color: $swiper-background;
    padding: 1em;
    border-radius: 100%;
    box-shadow: $box-shadow;
    height: 50px;
    width: 50px;
    opacity:.7;
    transition:opacity .3s ease-in;
    &:hover {
        opacity:1;
    }
    &.swiper-button-disabled {
        opacity:0;
    }
  }