@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

@import 'conf';
@import 'mixins';



html, body {
    margin:0;
    padding:0;
    font-family: 'Roboto',sans-serif;
}

body {
    background-color:$background-color;
}

.container {
    width:80%;
    margin:0 auto;
}

@media(max-width:$large) {
    .container {
        width:95%;
        margin:0 auto;
    }
}

@media(max-width:$medium) {
    .container {
        width:100%;
        margin:0 auto;
    }
}

h2 {
    text-align:center;
    margin:3em 0 1em;
}

@import 'kategorie.scss';
@import 'menu.scss';
@import 'swiper.scss';