@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import 'scss-reset/_reset.scss';
@import 'conf';
@import 'mixins';



html, body {
    margin:0;
    padding:0;
    font-family: 'Roboto',sans-serif;
}

body {
    background-color:$background-color;
    padding-bottom:4em;
}

.container {
    width:80%;
    margin:0 auto;
}

@media(max-width:$large) {
    .container {
        width:95%;
        margin:0 auto;
    }
}

@media(max-width:$medium) {
    .container {
        width:100%;
        margin:0 auto;
    }
}

h2 {
    text-align:center;
    margin:3em 0 1em;
    display:block !important;
    font-size: 2em;
}

h3 {
    font-size: 1.5em;
    padding: .3em .1em;
}

body.loading {
    .loader {
        display:block;
    }

    .content, header, h2 {
        display:none !important;
    }
}

.loader {
    position:absolute;
    top:0;
    bottom:0;
    right:0;
    left:0;
    background-color: $background-color;
    z-index:400;
    display:none;
}
@import 'kategorie.scss';
@import 'menu.scss';
@import 'swiper.scss';